# exceptions
!config/data/

__pycache__/
.git/
.idea/
.ipynb_checkpoints/
wandb/

# datasets
data/
scenarios/

# C++ solvers
EECBS/
PBS/

# etc.
archive/

*.ipynb
*.png
*.txt
*.th
*.csv
*.xlsx
*.pkl
*.pt